body{
    margin: 0;
    font-family: "Times New Roman", "Arial Black", "Georgia";
}
.container {
    max-width: 1280px;
    width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}
.flex a{
    text-decoration: none;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-flow: column;
}

.flex-v-center {
    align-items: center;
}

.box {
    flex-basis: 256px;
    height: 256px;
    width: 400px;
}

.box-400 {
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.artwork-image {
    max-height: 100%;
    width: auto;
    margin-top: 90px;
}
.navbar{
    padding-top: 20px;
    background-color: black;
    text-align: center;
    z-index: 0;
}
.navbar h1{
    color: white;
    font-size: 45px;
    margin-bottom: 50px;
}
.category-links{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}
.category-links p{
    height: 35px;
    color: white;
    text-transform: uppercase;
}
.category-links a{
    text-decoration: none;
}
.box-400 p{
    color: black;
    size: 25px;
    text-transform: uppercase;
}
.artwork-form{
    margin-top: 70px;
    margin-left: 50px;
    z-index: 0;
}
.artwork-form p{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 30px;
}
.user-links{
    height: 25px;
    display: flex;
    align-items: center;
    text-align: right;
    align-items: flex-start;
    justify-content: flex-end;
}
.user-links a{
    text-decoration: none;
    margin-right: 15px;
    text-align: right;

}
.user-links p{
     height: 35px;
     color: darkorange;
     text-transform: uppercase;
}
.search-div{
    height: 50px;
    width: 100%;
    background-color: darkslategray;
    margin-bottom: 50px;
    padding-top: 1px;
}
.search-form{
    text-align: left;
    margin-left: 15px;
    padding-top: 13px;
}
.cart-icon{
    height: 35px;
    width: auto;
    background: transparent;
}
.artwork-image-view{
    max-height: 100%;
    width: auto;
    margin-top: 190px;
}
.login-btn {
    margin-bottom: 25px;
}
.reviews {
    height: 35px;
    color: #404040;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 30px;
}
.user-sett {
    margin-top: 60px;
    display: flex;
    text-align: right;
    align-items: flex-start;
    justify-content: flex-end;
}
.lang-change{
    margin-right: 10px;
}
